<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlzt.system.mapper.SysDeptMapper">

	<resultMap type="SysDept" id="SysDeptResult">
		<id     property="deptId"     column="dept_id"     />
		<result property="parentId"   column="parent_id"   />
		<result property="ancestors"  column="ancestors"   />
		<result property="deptName"   column="dept_name"   />
		<result property="deptType"   column="dept_type"   />
		<result property="orderNum"   column="order_num"   />
		<result property="leader"     column="leader"      />
		<result property="phone"      column="phone"       />
		<result property="districtCode" column="district_code"  />
		<result property="detailedAddress" column="detailed_address" />
		<result property="creditCode" column="credit_code" />
		<result property="legalName" column="legal_name" />
		<result property="legalCode" column="legal_code" />
		<result property="chargeName" column="charge_name" />
		<result property="chargeCode" column="charge_code" />
		<result property="licenseUrl" column="license_url" />
		<result property="status"     column="status"      />
		<result property="delFlag"    column="del_flag"    />
		<result property="parentName" column="parent_name" />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<resultMap type="SysDept" id="SysDeptResultVo">
		<id     property="deptId"     column="dept_id"     />
		<result property="parentId"   column="parent_id"   />
		<result property="ancestors"  column="ancestors"   />
		<result property="deptName"   column="dept_name"   />
		<result property="deptType"   column="dept_type"   />
		<result property="orderNum"   column="order_num"   />
		<result property="leader"     column="leader"      />
		<result property="phone"      column="phone"       />
		<result property="creditCode" column="credit_code" />
		<result property="districtCode" column="district_code"  />
		<result property="detailedAddress" column="detailed_address" />
		<result property="legalName" column="legal_name" />
		<result property="legalCode" column="legal_code" />
		<result property="chargeName" column="charge_name" />
		<result property="chargeCode" column="charge_code" />
		<result property="licenseUrl" column="license_url" />
		<result property="status"     column="status"      />
		<result property="delFlag"    column="del_flag"    />
		<result property="parentName" column="parent_name" />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
		<result property="level" column="level" />
	</resultMap>

	<resultMap type="SysDeptUserVo" id="SysDeptUserVoResultVo">
		<id     property="id"     column="id"     />
		<result property="parentId"   column="parent_id"   />
		<result property="level"  column="level"   />
		<result property="label"   column="label"   />
	</resultMap>
	
	<sql id="selectDeptVo">
        select d.dept_id, d.parent_id, d.ancestors, d.dept_name, d.dept_type, d.order_num, d.leader, d.phone, d.credit_code, d.district_code, d.detailed_address,
               d.legal_name,d.legal_code, d.charge_name,d.charge_code,d.license_url, d.status, d.del_flag, d.create_by, d.create_time
        from sys_dept d
    </sql>
    
	<select id="selectDeptList" parameterType="SysDept" resultMap="SysDeptResult">
        <include refid="selectDeptVo"/>
        where d.del_flag = '0'
        <if test="deptId != null and deptId != 0">
			AND dept_id = #{deptId}
		</if>
		 <if test="parentId != null and parentId != 0">
			AND parent_id = #{parentId}
		</if>
		<if test="deptName != null and deptName != ''">
			AND dept_name like concat('%', #{deptName}, '%')
		</if>

		<if test="deptType != null and deptType != ''">
			AND dept_type = #{deptType}
		</if>
		<if test="status != null and status != ''">
			AND status = #{status}
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
		order by d.parent_id, d.order_num
    </select>
	<select id="selectDeptListByConditon" parameterType="SysDept" resultMap="SysDeptResult">
		SELECT
		d.dept_id,
		d.parent_id,
		d.ancestors,
		d.dept_name,
		d.dept_type,
		d.order_num,
		d.leader,
		d.phone,
		d.credit_code,
		d.district_code,
		d.detailed_address,
		d.legal_name,
		d.legal_code,
		d.charge_name,
		d.charge_code,
		d.license_url,
		d.STATUS,
		d.del_flag,
		d.create_by,
		d.create_time
		FROM
		sys_dept d
		WHERE
		d.del_flag = '0'

		<if test="deptId != null and deptId != 0">
			AND dept_id = #{deptId}
		</if>
		<if test="parentId != null and parentId != 0">
			AND ( d.dept_id IN ( SELECT dept_id FROM sys_dept WHERE dept_id = #{parentId} OR find_in_set( #{parentId},
			ancestors ) ) )
		</if>
		<if test="deptName != null and deptName != ''">
			AND dept_name like concat('%', #{deptName}, '%')
		</if>
		<if test="deptType != null and deptType != ''">
			AND dept_type = #{deptType}
		</if>
		<if test="status != null and status != ''">
			AND status = #{status}
		</if>
		order by d.parent_id, d.order_num
	</select>
	<select id="selectDeptLikeName" parameterType="SysDept" resultMap="SysDeptResult">
        <include refid="selectDeptVo"/>
        where d.del_flag = '0'
        <if test="parentId != null and parentId != 0">
			AND parent_id = #{parentId}
		</if>
		<if test="deptName != null and deptName != ''">
			AND dept_name like concat('%', #{deptName}, '%')
		</if>
		<if test="deptType != null and deptType != ''">
			AND dept_type = #{deptType}
		</if>
		<if test="deptId != null and deptId != ''">
			AND find_in_set(#{deptId}, ancestors)
		</if>
    </select>
    
    <select id="selectDeptListByRoleId" resultType="Integer">
		select d.dept_id
		from sys_dept d
            left join sys_role_dept rd on d.dept_id = rd.dept_id
        where rd.role_id = #{roleId}
            <if test="deptCheckStrictly">
              and d.dept_id not in (select d.parent_id from sys_dept d inner join sys_role_dept rd on d.dept_id = rd.dept_id and rd.role_id = #{roleId})
            </if>
		order by d.parent_id, d.order_num
	</select>
    
    <select id="selectDeptById" parameterType="Long" resultMap="SysDeptResult">
		<include refid="selectDeptVo"/>
		where dept_id = #{deptId}
	</select>

	<select id="selectDeptListByParentId" parameterType="Long" resultMap="SysDeptResult">
		<include refid="selectDeptVo"/>
		where find_in_set(#{parentId}, ancestors)
		<if test="districtCode != null and districtCode != '' and districtCode1 != null and districtCode1 != ''">
			and (find_in_set(#{districtCode}, district_code) or find_in_set(#{districtCode1}, district_code))
		</if>
	</select>

	<select id="selectDeptAndUser0" parameterType="SysDept" resultMap="SysDeptResultVo">
		select * from
			(select  u.user_id as dept_id, u.dept_id as parent_id, u.nick_name as dept_name ,1 as level
			from sys_user u
			left join sys_dept d on u.dept_id = d.dept_id
			where u.del_flag = '0' ${params.dataScope}
			)tempu
		union
		select  * from
			(
				select d.dept_id, d.parent_id, d.dept_name ,0 as level
				from sys_user u
				left join sys_dept d on u.dept_id = d.dept_id
				where u.del_flag = '0' ${params.dataScope}
			)tempd
	</select>

	<select id="selectDeptAndUser" parameterType="SysDeptUserVo" resultMap="SysDeptUserVoResultVo">
		select * from
			(select  u.user_id as id, u.dept_id as parent_id, u.nick_name as label ,1 as level
			 from sys_user u left join sys_dept d on u.dept_id = d.dept_id
			 where u.del_flag = '0' ${params.dataScope}
			)tempu
		union
		select  * from
			(
				select d.dept_id as id, d.parent_id, d.dept_name as label, 0 as level
				from sys_user u
						 left join sys_dept d on u.dept_id = d.dept_id
				where u.del_flag = '0' ${params.dataScope}
			)tempd
	</select>

    <select id="checkDeptExistUser" parameterType="Long" resultType="int">
		select count(1) from sys_user where dept_id = #{deptId} and del_flag = '0'
	</select>
	
	<select id="hasChildByDeptId" parameterType="Long" resultType="int">
		select count(1) from sys_dept
		where del_flag = '0' and parent_id = #{deptId} limit 1
	</select>
	
	<select id="selectChildrenDeptById" parameterType="Long" resultMap="SysDeptResult">
		select * from sys_dept where find_in_set(#{deptId}, ancestors)
	</select>
	
	<select id="selectNormalChildrenDeptById" parameterType="Long" resultType="int">
		select count(*) from sys_dept where status = 0 and del_flag = '0' and find_in_set(#{deptId}, ancestors)
	</select>
	
	<select id="checkDeptNameUnique" resultMap="SysDeptResult">
	    <include refid="selectDeptVo"/>
		where dept_name=#{deptName} and parent_id = #{parentId} limit 1
	</select>
    
    <insert id="insertDept" parameterType="SysDept" keyProperty="deptId" useGeneratedKeys="true">
 		insert into sys_dept(
 			<if test="deptId != null and deptId != 0">dept_id,</if>
 			<if test="parentId != null and parentId != 0">parent_id,</if>
 			<if test="deptName != null and deptName != ''">dept_name,</if>
 			<if test="deptType != null and deptType != ''">dept_type,</if>
 			<if test="ancestors != null and ancestors != ''">ancestors,</if>
 			<if test="orderNum != null and orderNum != ''">order_num,</if>
 			<if test="leader != null and leader != ''">leader,</if>
 			<if test="phone != null and phone != ''">phone,</if>
 			<if test="creditCode != null and creditCode != ''">credit_code,</if>
 			<if test="districtCode != null and districtCode != ''">district_code,</if>
 			<if test="detailedAddress != null and detailedAddress != ''">detailed_address,</if>
 			<if test="legalName != null and legalName != ''">legal_name,</if>
 			<if test="legalCode != null and legalCode != ''">legal_code,</if>
 			<if test="chargeName != null and chargeName != ''">charge_name,</if>
 			<if test="chargeCode != null and chargeCode != ''">charge_code,</if>
 			<if test="licenseUrl != null and licenseUrl != ''">license_url,</if>
 			<if test="status != null">status,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			create_time
 		)values(
 			<if test="deptId != null and deptId != 0">#{deptId},</if>
 			<if test="parentId != null and parentId != 0">#{parentId},</if>
 			<if test="deptName != null and deptName != ''">#{deptName},</if>
 			<if test="deptType != null and deptType != ''">#{deptType},</if>
 			<if test="ancestors != null and ancestors != ''">#{ancestors},</if>
 			<if test="orderNum != null and orderNum != ''">#{orderNum},</if>
 			<if test="leader != null and leader != ''">#{leader},</if>
 			<if test="phone != null and phone != ''">#{phone},</if>
			<if test="creditCode != null and creditCode != ''">#{creditCode},</if>
			<if test="districtCode != null and districtCode != ''">#{districtCode},</if>
			<if test="detailedAddress != null and detailedAddress != ''">#{detailedAddress},</if>
			<if test="legalName != null and legalName != ''">#{legalName},</if>
			<if test="legalCode != null and legalCode != ''">#{legalCode},</if>
			<if test="chargeName != null and chargeName != ''">#{chargeName},</if>
			<if test="chargeCode != null and chargeCode != ''">#{chargeCode},</if>
			<if test="licenseUrl != null and licenseUrl != ''">#{licenseUrl},</if>
 			<if test="status != null">#{status},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			sysdate()
 		)
	</insert>
	
	<update id="updateDept" parameterType="SysDept">
 		update sys_dept
 		<set>
 			<if test="parentId != null and parentId != 0">parent_id = #{parentId},</if>
 			<if test="deptName != null and deptName != ''">dept_name = #{deptName},</if>
 			<if test="deptType != null and deptType != ''">dept_type = #{deptType},</if>
 			<if test="ancestors != null and ancestors != ''">ancestors = #{ancestors},</if>
 			<if test="orderNum != null and orderNum != ''">order_num = #{orderNum},</if>
 			<if test="leader != null">leader = #{leader},</if>
 			<if test="phone != null">phone = #{phone},</if>
			<if test="creditCode != null and creditCode != ''">credit_code = #{creditCode},</if>
			<if test="districtCode != null and districtCode != ''">district_code = #{districtCode},</if>
			<if test="detailedAddress != null and detailedAddress != ''">detailed_address = #{detailedAddress},</if>
			<if test="legalName != null and legalName != ''">legal_name = #{legalName},</if>
			<if test="legalCode != null and legalCode != ''">legal_code = #{legalCode},</if>
			<if test="chargeName != null and chargeName != ''">charge_name = #{chargeName},</if>
			<if test="chargeCode != null and chargeCode != ''">charge_code = #{chargeCode},</if>
			<if test="licenseUrl != null and licenseUrl != ''">license_url = #{licenseUrl},</if>
 			<if test="status != null and status != ''">status = #{status},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate()
 		</set>
 		where dept_id = #{deptId}
	</update>
	
	<update id="updateDeptChildren" parameterType="java.util.List">
	    update sys_dept set ancestors =
	    <foreach collection="depts" item="item" index="index"
	        separator=" " open="case dept_id" close="end">
	        when #{item.deptId} then #{item.ancestors}
	    </foreach>
	    where dept_id in
	    <foreach collection="depts" item="item" index="index"
	        separator="," open="(" close=")">
	        #{item.deptId}
	    </foreach>
	</update>

	<update id="updateDeptStatusNormal" parameterType="Long">
		update sys_dept set status = '0' where dept_id in
		<foreach collection="array" item="deptId" open="(" separator="," close=")">
			#{deptId}
		</foreach>
	</update>
	
	<delete id="deleteDeptById" parameterType="Long">
		update sys_dept set del_flag = '2' where dept_id = #{deptId}
	</delete>

	<select id="checkCreditUnique" parameterType="String" resultType="int">
		select count(1) from sys_dept where credit_code = #{creditCode} limit 1
	</select>
</mapper> 