<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlzt.system.mapper.SysQuestionMapper">
    
    <resultMap type="SysQuestion" id="SysQuestionResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="content"    column="content"    />
        <result property="picUrl"    column="pic_url"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSysQuestionVo">
        select id, type, content, pic_url, create_by, create_time, update_by, update_time, remark, status from sys_question
    </sql>

    <select id="selectSysQuestionList" parameterType="SysQuestion" resultMap="SysQuestionResult">
        <include refid="selectSysQuestionVo"/>
        <where>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="picUrl != null  and picUrl != ''"> and pic_url = #{picUrl}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysQuestionById" parameterType="Long" resultMap="SysQuestionResult">
        <include refid="selectSysQuestionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysQuestion" parameterType="SysQuestion" useGeneratedKeys="true" keyProperty="id">
        insert into sys_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="content != null">content,</if>
            <if test="picUrl != null">pic_url,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="content != null">#{content},</if>
            <if test="picUrl != null">#{picUrl},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateSysQuestion" parameterType="SysQuestion">
        update sys_question
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="content != null">content = #{content},</if>
            <if test="picUrl != null">pic_url = #{picUrl},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysQuestionById" parameterType="Long">
        delete from sys_question where id = #{id}
    </delete>

    <delete id="deleteSysQuestionByIds" parameterType="String">
        delete from sys_question where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>