<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlzt.project.mapper.TDeptServiceMapper">
    
    <resultMap type="TDeptService" id="TDeptServiceResult">
        <result property="serviceId"    column="service_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="doDeptId"    column="do_dept_id"    />
        <result property="isService"    column="is_service"    />
        <result property="serviceType"    column="service_type"    />
        <result property="serviceName"    column="service_name"    />
        <result property="orderNum"    column="order_num"    />
        <result property="leader"    column="leader"    />
        <result property="phone"    column="phone"    />
        <result property="equipmentRange"    column="equipment_range"    />
        <result property="checkType"    column="check_type"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="state"    column="state"    />
        <result property="setAreaValue"    column="set_area_value"    />
        <result property="setAreaLabel"    column="set_area_label"    />
    </resultMap>

    <sql id="selectTDeptServiceVo">
        select service_id, dept_id, do_dept_id, is_service, service_type, service_name, order_num, leader, phone, equipment_range, check_type, start_time, end_time, create_by, create_time, update_by, update_time, remark, del_flag, state, set_area_value, set_area_label from t_dept_service
    </sql>

    <select id="selectTDeptServiceList" parameterType="TDeptService" resultMap="TDeptServiceResult">
        <include refid="selectTDeptServiceVo"/>
        <where>  
            <if test="serviceId != null "> and service_id = #{serviceId}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="doDeptId != null "> and do_dept_id = #{doDeptId}</if>
            <if test="isService != null "> and is_service = #{isService}</if>
            <if test="serviceType != null  and serviceType != ''"> and service_type = #{serviceType}</if>
            <if test="serviceName != null  and serviceName != ''"> and service_name like concat('%', #{serviceName}, '%')</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="leader != null  and leader != ''"> and leader = #{leader}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="equipmentRange != null  and equipmentRange != ''"> and equipment_range = #{equipmentRange}</if>
            <if test="checkType != null  and checkType != ''"> and check_type = #{checkType}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="setAreaValue != null  and setAreaValue != ''"> and set_area_value = #{setAreaValue}</if>
            <if test="setAreaLabel != null  and setAreaLabel != ''"> and set_area_label = #{setAreaLabel}</if>
        </where>
    </select>
    
    <select id="selectTDeptServiceById" parameterType="Long" resultMap="TDeptServiceResult">
        <include refid="selectTDeptServiceVo"/>
        where dept_id = #{deptId}
    </select>
        
    <insert id="insertTDeptService" parameterType="TDeptService">
        insert into t_dept_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serviceId != null">service_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="doDeptId != null">do_dept_id,</if>
            <if test="isService != null">is_service,</if>
            <if test="serviceType != null">service_type,</if>
            <if test="serviceName != null">service_name,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="leader != null">leader,</if>
            <if test="phone != null">phone,</if>
            <if test="equipmentRange != null">equipment_range,</if>
            <if test="checkType != null">check_type,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="state != null">state,</if>
            <if test="setAreaValue != null">set_area_value,</if>
            <if test="setAreaLabel != null">set_area_label,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serviceId != null">#{serviceId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="doDeptId != null">#{doDeptId},</if>
            <if test="isService != null">#{isService},</if>
            <if test="serviceType != null">#{serviceType},</if>
            <if test="serviceName != null">#{serviceName},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="leader != null">#{leader},</if>
            <if test="phone != null">#{phone},</if>
            <if test="equipmentRange != null">#{equipmentRange},</if>
            <if test="checkType != null">#{checkType},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="state != null">#{state},</if>
            <if test="setAreaValue != null">#{setAreaValue},</if>
            <if test="setAreaLabel != null">#{setAreaLabel},</if>
         </trim>
    </insert>

    <update id="updateTDeptService" parameterType="TDeptService">
        update t_dept_service
        <trim prefix="SET" suffixOverrides=",">
            <if test="serviceId != null">service_id = #{serviceId},</if>
            <if test="doDeptId != null">do_dept_id = #{doDeptId},</if>
            <if test="isService != null">is_service = #{isService},</if>
            <if test="serviceType != null">service_type = #{serviceType},</if>
            <if test="serviceName != null">service_name = #{serviceName},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="leader != null">leader = #{leader},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="equipmentRange != null">equipment_range = #{equipmentRange},</if>
            <if test="checkType != null">check_type = #{checkType},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="state != null">state = #{state},</if>
            <if test="setAreaValue != null">set_area_value = #{setAreaValue},</if>
            <if test="setAreaLabel != null">set_area_label = #{setAreaLabel},</if>
        </trim>
        where dept_id = #{deptId}
    </update>

    <delete id="deleteTDeptServiceById" parameterType="Long">
        delete from t_dept_service where dept_id = #{deptId}
    </delete>

    <delete id="deleteTDeptServiceByIds" parameterType="String">
        delete from t_dept_service where dept_id in 
        <foreach item="deptId" collection="array" open="(" separator="," close=")">
            #{deptId}
        </foreach>
    </delete>
</mapper>